### Uptime Kuma Configuration
UPTIME_KUMA_URL=https://uptime-kuma.yourdomain.com

### Authentication Configuration
# If neither a username/password nor a JWT token is provided, anonymous access will be used.

# Username/Password authentication.
UPTIME_KUMA_USERNAME=username
UPTIME_KUMA_PASSWORD=password
UPTIME_KUMA_2FA_TOKEN=2fa code

# JWT Token authentication.
UPTIME_KUMA_JWT_TOKEN=