UPTIME_KUMA_URL=https://uptime-kuma.yourdomain.com

# Authentication. If not set, anonymous login will be used.
UPTIME_KUMA_USERNAME=username
UPTIME_KUMA_PASSWORD=password
UPTIME_KUMA_2FA_TOKEN=2fa code